services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:3000"
    environment:
      - PORT=3000
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000" # Map host 3000 to container 3000 (Next.js default)
    environment:
      - WATCHPACK_POLLING=true
    env_file:
      - .env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: pnpm dev
    depends_on:
      - backend
